* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 2px solid gray;
}

/* General Styles*/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #4f4f4f;
}

/* .logo {
  width: 20%;
  height: 20%;
} */
@media (max-width: 360px) {
  body {
    border: 2px solid blue;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 100%;
    height: 20%;
  }
}
